#canvas1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 600px;
}

.controls {
	position: absolute;
	z-index: 10;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	gap: 20px;
}

.controls label {
	white-space: nowrap;
}

.controls,
select,
option {
	font-size: 25px;
}
